## Dogs EDA

In [2]:
import numpy as np
import pandas as pd

<code>.head()</code> : returns the first few rows <br> 
<code>.info()</code> : shows information on each of the columns, such as the data type and number of missing values <br> 
<code>.shape</code> : returns the number of rows and columns of the DataFrame <br> 
<code>.describe()</code> : calculates a few summary statistics for each column <br> 

<code>.values</code> : A two-dimensional Numpy array of values   <br> 
<code>.columns</code> : An index of columns (the column names) <br> 
<code>.index </code>: An index of the rows (either row numbers or row names) <br>

In [4]:
dogs = pd.read_csv("dogs.csv")
print(dogs)

     Name             Breed  Color  Height  Weight Date of birth
0   Bella         Chihuahua  Brown      18       2    2018-02-05
1   Amigo          Labrador  Black      59      35    2016-08-12
2  Trevis       St. Bernard  Brown      77      73    2019-07-24
3   Golin             Husky  White      55      30    2015-06-18
4    Lucy          Labrador  White      51      26    2020-04-29
5     Max  Golden Retriever  Brown      49      21    2014-01-20
6    Otto            Poodle  Brown      42      20    2013-06-27
7    Rexo   German Shepherd  Brown      54      24    2018-05-21

In [9]:
# first 5 rows - by default
dogs.head()

     Name        Breed  Color  Height  Weight Date of birth
0   Bella    Chihuahua  Brown      18       2    2018-02-05
1   Amigo     Labrador  Black      59      35    2016-08-12
2  Trevis  St. Bernard  Brown      77      73    2019-07-24
3   Golin        Husky  White      55      30    2015-06-18
4    Lucy     Labrador  White      51      26    2020-04-29

In [10]:
# first 3 rows
dogs.head(3)

     Name        Breed  Color  Height  Weight Date of birth
0   Bella    Chihuahua  Brown      18       2    2018-02-05
1   Amigo     Labrador  Black      59      35    2016-08-12
2  Trevis  St. Bernard  Brown      77      73    2019-07-24

In [11]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           8 non-null      object
 1   Breed          8 non-null      object
 2   Color          8 non-null      object
 3   Height         8 non-null      int64
 4   Weight         8 non-null      int64
 5   Date of birth  8 non-null      object
dtypes: int64(2), object(4)
memory usage: 512.0+ bytes

We have no empty values in dataset.

In [12]:
dogs.shape

(8, 6)

The dataset has 8 rows with data (+ 1 row with column indexes) and 6 columns.

In [13]:
dogs.describe()

          Height     Weight
count   8.000000   8.000000
mean   50.625000  28.875000
std    16.638488  20.286783
min    18.000000   2.000000
25%    47.250000  20.750000
50%    52.500000  25.000000
75%    56.000000  31.250000
max    77.000000  73.000000

In [14]:
dogs.values

array([['Bella', 'Chihuahua', 'Brown', 18, 2, '2018-02-05'],
       ['Amigo', 'Labrador', 'Black', 59, 35, '2016-08-12'],
       ['Trevis', 'St. Bernard', 'Brown', 77, 73, '2019-07-24'],
       ['Golin', 'Husky', 'White', 55, 30, '2015-06-18'],
       ['Lucy', 'Labrador', 'White', 51, 26, '2020-04-29'],
       ['Max', 'Golden Retriever', 'Brown', 49, 21, '2014-01-20'],
       ['Otto', 'Poodle', 'Brown', 42, 20, '2013-06-27'],
       ['Rexo', 'German Shepherd', 'Brown', 54, 24, '2018-05-21']],
      dtype=object)

In [15]:
dogs.columns

Index(['Name', 'Breed', 'Color', 'Height', 'Weight', 'Date of birth'], dtype='object')

In [16]:
dogs.index

RangeIndex(start=0, stop=8, step=1)