#### Import packages

In [14]:
import numpy as np
import pandas as pd

### Simple dictionary

In [15]:
# Create a dictionary with keys = countries and values = capitals
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo', 'australia':'vienna' }

In [16]:
# Print out the keys in europe
print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway', 'australia'])

In [17]:
# Print out value that belongs to key 'norway'
print(europe['norway'])

oslo

In [18]:
# Add italy to europe
europe['italy'] = 'milan'

In [19]:
# Is italy in europe
print('italy' in europe)

True

In [20]:
# Add poland to europe
europe['poland'] = 'warsaw'

In [21]:
# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'australia': 'vienna', 'italy': 'milan', 'poland': 'warsaw'}

In [22]:
# Update capital of italy
europe['italy'] = 'rome'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

### Dictionary of dictionaries

In [23]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [24]:
# Print out the capital of France
print(europe['france']['population'])

66.03

In [25]:
# Create sub-dictionary data
data = {
        'capital' : 'rome',
        'population' : 59.83
}

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

### Dictionary to Dataframe

In [26]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]


# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = { 'country' : names, 
            'drives_right' : dr, 
            'cars_per_cap' : cpc
            }

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [27]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### Import Dataframe from CSV

In [32]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out cars
print(cars)

     cars_per_cap        country  drives_right  population
US            809  United States          True         751
AUS           731      Australia         False         845
JPN           588          Japan         False         329
IN             18          India         False        1589
RU            200         Russia          True         257
MOR            70        Morocco          True          36
EG             45          Egypt          True          45

In [33]:
# Create sub-dataframe
print(cars[["country", "cars_per_cap"]])

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

In [34]:
# Type of object
print(type(cars["country"]))

<class 'pandas.core.series.Series'>

### Selecting part of the Dataframe table

In the table, we are counting rows from 0 (indexing). The header stands apart.

In [36]:
# Slicer
print(cars[1:4])

     cars_per_cap    country  drives_right  population
AUS           731  Australia         False         845
JPN           588      Japan         False         329
IN             18      India         False        1589

##### .loc - uses row labels

In [53]:
# Print Pandas Series
print(cars.loc["RU"])

cars_per_cap       200
country         Russia
drives_right      True
population         257
Name: RU, dtype: object

In [54]:
# Print DataFrame
print(cars.loc[["RU"]])

    cars_per_cap country  drives_right  population
RU           200  Russia          True         257

In [55]:
# Print dataframe - slicer on selected columns and rows
print(cars.loc[["RU", "MOR"] , ["cars_per_cap", "population"]])

     cars_per_cap  population
RU            200         257
MOR            70          36

In [56]:
# Print dataframe - slicer on selected columns, all rows
print(cars.loc[: , ["cars_per_cap", "population"]])

     cars_per_cap  population
US            809         751
AUS           731         845
JPN           588         329
IN             18        1589
RU            200         257
MOR            70          36
EG             45          45

##### .iloc - uses position/index of items

In [57]:
# Select subset of dataframe
print(cars.iloc[[1]])

     cars_per_cap    country  drives_right  population
AUS           731  Australia         False         845

In [58]:
# Select subset of dataframe
print(cars.iloc[[1,2,3], [0,1]])

     cars_per_cap    country
AUS           731  Australia
JPN           588      Japan
IN             18      India

##### Thank you for reading until here!