## If condition

### If-else

In [2]:
# Define variables
room = "kit"
area = 14.0

# if-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if-else construct for area
if area > 15 :
    print("big place!")
else:
    print("pretty small.")

looking around in the kitchen.
pretty small.

### If-elif-else

In [4]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10: 
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

## While loops

The code repeats itself in a loop while the condition is true.

In [21]:
# Initialize offset
offset = -6

# update and print offset
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset -= 1
    else : 
      offset += 1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

## For loop

### Getting items from list

In [13]:
# room areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

In [19]:
# print each element
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

In [20]:
# print element with indexes
for index, area in enumerate(areas) :
    index += 1
    print(f"room {index}: {area}")

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

### Getting items from list of lists

In [17]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# for loop that prints info about house rooms
for room in house:
    print(f"the {room[0]} is {room[1]} sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

### Looping over Dictionary

###### function my_dictionary.items( )

In [18]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for country, capital in europe.items():
    print(f"the capital of {country} is {capital}")

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

### Loop over NumPy array

In [25]:
import numpy as np

# create 1D array
heights = [189, 196, 188, 201, 194]
np_heights = np.array(heights)
print(np_heights)

[189 196 188 201 194]

In [26]:
# get elements from 1D array
for h in heights:
    print(h)

189
196
188
201
194

In [31]:
# create 2D array
age = [["Maria", 45], ["Adam", 37], ["Clara", 19], ["Martin", 26]]
np_age = np.array(age)
print(np_age)

[['Maria' '45']
 ['Adam' '37']
 ['Clara' '19']
 ['Martin' '26']]

In [32]:
# get elements from 2D array
for a in np.nditer(np_age):
    print(a)

Maria
45
Adam
37
Clara
19
Martin
26

### Loop over Pandas DataFrame

In [35]:
import pandas as pd

cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)

     cars_per_cap        country  drives_right  population
US            809  United States          True         751
AUS           731      Australia         False         845
JPN           588          Japan         False         329
IN             18          India         False        1589
RU            200         Russia          True         257
MOR            70        Morocco          True          36
EG             45          Egypt          True          45

In [41]:
# iterate though cars - prints column names
for val in cars:
    print(val)

cars_per_cap
country
drives_right
population

In [42]:
# actualiteration though cars
for label, row in cars.iterrows():
    print(label)
    print(row)
    print(" ")

US
cars_per_cap              809
country         United States
drives_right             True
population                751
Name: US, dtype: object

AUS
cars_per_cap          731
country         Australia
drives_right        False
population            845
Name: AUS, dtype: object

JPN
cars_per_cap      588
country         Japan
drives_right    False
population        329
Name: JPN, dtype: object

IN
cars_per_cap       18
country         India
drives_right    False
population       1589
Name: IN, dtype: object

RU
cars_per_cap       200
country         Russia
drives_right      True
population         257
Name: RU, dtype: object

MOR
cars_per_cap         70
country         Morocco
drives_right       True
population           36
Name: MOR, dtype: object

EG
cars_per_cap       45
country         Egypt
drives_right     True
population         45
Name: EG, dtype: object

In [44]:
# print only population
for label, row in cars.iterrows():
    print(f"{label}: {row['population']} mil.")

US: 751 mil.
AUS: 845 mil.
JPN: 329 mil.
IN: 1589 mil.
RU: 257 mil.
MOR: 36 mil.
EG: 45 mil.

### Create new calculated column - Pandas DataFrame

#### Variant 1

In [49]:
# create new column with country length
for label, row in cars.iterrows():
    cars.loc[label, "name_length"] = len(row["country"])

print(cars)

     cars_per_cap        country  drives_right  population  name_length
US            809  United States          True         751         13.0
AUS           731      Australia         False         845          9.0
JPN           588          Japan         False         329          5.0
IN             18          India         False        1589          5.0
RU            200         Russia          True         257          6.0
MOR            70        Morocco          True          36          7.0
EG             45          Egypt          True          45          5.0

In [53]:
# loop that adds COUNTRY column
cars = pd.read_csv("cars.csv", index_col = 0)

for label, row in cars.iterrows():
    cars.loc[label, "COUNTRY"] = (row["country"]).upper()
    
print(cars)

     cars_per_cap        country  drives_right  population        COUNTRY
US            809  United States          True         751  UNITED STATES
AUS           731      Australia         False         845      AUSTRALIA
JPN           588          Japan         False         329          JAPAN
IN             18          India         False        1589          INDIA
RU            200         Russia          True         257         RUSSIA
MOR            70        Morocco          True          36        MOROCCO
EG             45          Egypt          True          45          EGYPT

#### Variant 2

In [50]:
import pandas as pd

cars = pd.read_csv('cars.csv', index_col = 0)
cars["name_length"] = cars["country"].apply(len)
print(cars)

     cars_per_cap        country  drives_right  population  name_length
US            809  United States          True         751           13
AUS           731      Australia         False         845            9
JPN           588          Japan         False         329            5
IN             18          India         False        1589            5
RU            200         Russia          True         257            6
MOR            70        Morocco          True          36            7
EG             45          Egypt          True          45            5

In [54]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
cars["COUNTRY"] = cars["country"].apply(str.upper)

print(cars)

     cars_per_cap        country  drives_right  population        COUNTRY
US            809  United States          True         751  UNITED STATES
AUS           731      Australia         False         845      AUSTRALIA
JPN           588          Japan         False         329          JAPAN
IN             18          India         False        1589          INDIA
RU            200         Russia          True         257         RUSSIA
MOR            70        Morocco          True          36        MOROCCO
EG             45          Egypt          True          45          EGYPT

##### Thank you for reading until here!