### Imports

In [1]:
import pandas as pd
import numpy as np

sales = pd.read_csv("sales.csv")
print(sales.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

## Pivoting on one variable

Pivot tables are another way to do the same thing as a group-by-then-summarize.

In [2]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type")
print(mean_sales_by_type)

      weekly_sales
type
A     23674.667242
B     25696.678370

In [6]:
# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean, np.median])
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

In [7]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values="weekly_sales", index="type", columns="is_holiday")
print(mean_sales_by_type_holiday)

is_holiday         False       True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

## Fill in missing values and sum values with pivot tables

In [8]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values="weekly_sales", index="type", columns="department", fill_value=0))

department            1              2             3             4   \
type
A           30961.725379   67600.158788  17160.002955  44285.399091
B           44050.626667  112958.526667  30580.655000  51219.654167

department            5             6             7             8   \
type
A           34821.011364   7136.292652  38454.336818  48583.475303
B           63236.875000  10717.297500  52909.653333  90733.753333

department            9             10  ...            90            91  \
type                                    ...
A           30120.449924  30930.456364  ...  85776.905909  70423.165227
B           66679.301667  48595.126667  ...  14780.210000  13199.602500

department             92            93            94             95  \
type
A           139722.204773  53413.633939  60081.155303  123933.787121
B            50859.278333   1466.274167    161.445833   77082.102500

department            96            97            98          99
type
A           21367.042857  28471.266970  12875.423182  379.123659
B            9528.538333   5828.873333    217.428333    0.000000

[2 rows x 80 columns]

In [9]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0, margins=True))

type                   A              B           All
department
1           30961.725379   44050.626667  32052.467153
2           67600.158788  112958.526667  71380.022778
3           17160.002955   30580.655000  18278.390625
4           44285.399091   51219.654167  44863.253681
5           34821.011364   63236.875000  37189.000000
...                  ...            ...           ...
96          21367.042857    9528.538333  20337.607681
97          28471.266970    5828.873333  26584.400833
98          12875.423182     217.428333  11820.590278
99            379.123659       0.000000    379.123659
All         23674.667242   25696.678370  23843.950149

[81 rows x 3 columns]

The column 'All' returns an overall mean for each department, not (A+B)/2. (A+B)/2 would be a mean of means, rather than an overall mean per department!