### Imports

In [2]:
import pandas as pd
import numpy as np

dogs = pd.read_csv("dogs_formatted.csv")
print(dogs)

     name             breed  color  height_cm  weight_kg date_of_birth
0   Bella         Chihuahua  Brown         18          2    2018-02-05
1   Amigo          Labrador  Black         59         35    2016-08-12
2  Trevis       St. Bernard  Brown         77         73    2019-07-24
3   Golin             Husky  White         55         30    2015-06-18
4    Lucy          Labrador  White         51         26    2020-04-29
5     Max  Golden Retriever  Brown         49         21    2014-01-20
6    Otto            Poodle  Brown         42         20    2013-06-27
7    Rexo   German Shepherd  Brown         54         24    2018-05-21

## Grouped summary statistics

In [4]:
# print average weight by color
dogs.groupby("color")["weight_kg"].mean()

color
Black    35.0
Brown    28.0
White    28.0
Name: weight_kg, dtype: float64

The highest weight have dogs with black color.

## Multiple grouped summaries

In [6]:
# print min, max, sum of weight by each color
dogs.groupby("color")["weight_kg"].agg([min, max, sum])

       min  max  sum
color
Black   35   35   35
Brown    2   73  140
White   26   30   56

## Grouping by multiple variables

In [7]:
# print average weight by color and breed
dogs.groupby(["color","breed"])["weight_kg"].mean()

color  breed
Black  Labrador            35.0
Brown  Chihuahua            2.0
       German Shepherd     24.0
       Golden Retriever    21.0
       Poodle              20.0
       St. Bernard         73.0
White  Husky               30.0
       Labrador            26.0
Name: weight_kg, dtype: float64

## Many groups, many summaries

In [10]:
# print average weight & height by color and breed
dogs.groupby(["color","breed"])[["weight_kg", "height_cm"]].mean()

                        weight_kg  height_cm
color breed
Black Labrador               35.0       59.0
Brown Chihuahua               2.0       18.0
      German Shepherd        24.0       54.0
      Golden Retriever       21.0       49.0
      Poodle                 20.0       42.0
      St. Bernard            73.0       77.0
White Husky                  30.0       55.0
      Labrador               26.0       51.0